<div id="<%= dom_id ticket %>">
  <p>
    <strong>Name:</strong>
    <%= ticket.name %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= ticket.reference %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= ticket.price %>
  </p>

</div>
